@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.dark {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	:root {
		--background: 266 15% 12%;
		--foreground: 210 20% 98%;

		--card: 266 15% 12%;
		--card-foreground: 210 20% 98%;

		--popover: 266 15% 12%;
		--popover-foreground: 210 20% 98%;

		--primary: 262 54% 78%;
		--primary-foreground: 210 20% 98%;

		--secondary: 262 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;

		--muted: 262 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;

		--accent: 262 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;

		--border: 262 27.9% 16.9%;
		--input: 262 27.9% 16.9%;
		--ring: 262 54% 78%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;

		font-family: "Poppins";
	}
	body {
		@apply bg-background text-foreground;
	}

	@keyframes head-shake {
		0% {
			transform: translateX(0);
			@apply border-transparent;
		}

		20% {
			transform: translateX(-6px) rotateY(-9deg);
			@apply border-destructive;
		}

		40% {
			transform: translateX(5px) rotateY(7deg);
		}

		60% {
			transform: translateX(-3px) rotateY(-5deg);
		}

		80% {
			transform: translateX(2px) rotateY(3deg);
			@apply border-destructive;
		}

		100% {
			transform: translateX(0);
			@apply border-transparent;
		}
	}

	@keyframes tada {
		from {
			transform: scale3d(1, 1, 1);
		}

		10%,
		20% {
			transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		}

		30%,
		50%,
		70%,
		90% {
			transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, 3deg);
		}

		40%,
		60%,
		80% {
			opacity: 1;
			transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, -3deg);
			display: block;
		}

		to {
			opacity: 0;
			transform: scale3d(1, 1, 1);
			display: none;
		}
	}
}

@layer utilities {
	.diag-top {
		clip-path: polygon(0 0, 0% 100%, 100% 0);
	}

	.text-balance {
		text-wrap: balance;
	}

	.bg-unset {
		background-color: unset;
	}

	.no-select {
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}
